@import "src/styles/base/main";
@import "src/styles/base/background-color";
@import "src/styles/base/border";
@import "src/styles/common/display";

.container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  @extend %display-column;
  @extend %justify-content-center;
  @extend %align-items-center;

  &__form {
    width: 380px;
    border-radius: var(--border-radius-page);
    background-color: $background-color-lv0;
    padding: var(--gutter-container);
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://images.pexels.com/photos/4261563/pexels-photo-4261563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  @extend %full-width-height;
}
