@import "styles/base/main.scss";

$menu-open: 240px;
$menu-close: 52px;
$height-appbar: 48px;

.layout {
  margin-top: $height-appbar;
  height: calc(100% - #{$height-appbar});
  margin-left: $menu-open;
  width: calc(100% - #{$menu-open});

  &--close {
    margin-left: $menu-close;
    width: calc(100% - #{$menu-close}) !important;
  }
}
