@import "src/styles/base/main.scss";
@import "src/styles/base/mixins.scss";
@import "src/styles/base/animation/fading_entrances/fadeIn.scss";
@import "src/styles/base/animation/fading_entrances/fadeInDown.scss";
@import "src/styles/base/animation/sliding_entrances/slideInLeft.scss";

$menu-open: 240px;
$menu-close: 52px;

.toolbar {
  padding-left: $gutter-base;
  padding-right: $gutter-container;
}

.drawer {
  width: 240px;
  transition: all 0.3s ease-in-out !important;
  box-shadow: $box-shadow-4 !important;
  border-right: none !important;
  @include animated(slideInLeft);

  &--close {
    width: $menu-close;
  }
}

$height-appbar: 48px;

.wrapper {
  height: 100%;
  width: 100%;
  @include animated(fadeIn);
}

.body--has-login {
  margin-top: $height-appbar;
  height: calc(100% - #{$height-appbar});
  margin-left: $menu-open;
  width: calc(100% - #{$menu-open});
}

.body--close {
  margin-left: $menu-close;
  width: calc(100% - #{$menu-close});
}

.body--not-login {
  margin: 0;
  height: 100%;
  width: 100%;
}

.body--mobile {
  margin-left: 0;
  width: 100%;
}

.body--setting {
  margin-left: 0;
  width: 100%;
}

.sidebar {
  padding: 0 !important;
  z-index: 4;
}

.sidebar_text {
  color: #adadad;
  white-space: nowrap;
}

.sidebar--bg {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}

.sidebar--bg::after {
  background: #2f2f2f;
  opacity: 0.8;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}

.sidebar_icon {
  color: #b1b1b1 !important;
}

.sidebar_item--selected {
  background-color: $background-color-lv0 !important;
}

.body {
  width: 100%;
  height: 100%;
}
